:root{
    /*colores*/
    --rojo: #ca2631;
    --rojoOscuro: #a51721;
    --verde: #36a845;
    --verdeOscuro:#1f7c2b;
    --negro: rgb(29, 29, 29);
    --Oscuro: #313131;
    --Medio: #414141;
    --Light: #202020;
    --claro: #c2c2c2;
    --blanco: white;

    /*fuentes*/
    --fuentePrincipal: 'Cabin', sans-serif;

    --orbitron: 'Orbitron', sans-serif;
    --rajdhani: 'Rajdhani', sans-serif;
}

body{
    color: var(--blanco);
    background-color: var(--Light);
}